@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

$background: #141414;

a,
a:visited {
  color: unset;
  text-decoration: none;
}

.buttons {
  margin-top: 2%;
  margin-bottom: 2%;
}
.buttonStyle {
  font-size: 18px;
  margin: 1% 0;
  padding: 8px 45px;
  width: 200px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: unset;
  transition: 0.2s;
  cursor: pointer;
}
.buttonStyle:hover {
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: $background;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  a {
    transition: 0.4s;
  }
  a:hover {
    color: #808080;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
  }
}

.topNav {
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  display: flex;
  align-items: center;
  margin-left: 80px;
  a {
    padding: 18px;
    border-right: 1px solid #6b6b6b;
  }
}

.sideNav {
  border-left: 1px solid #6b6b6b;
  border-right: 1px solid #6b6b6b;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    padding: 18px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #6b6b6b;
  }
  img {
    height: 30px;
  }
  .fab {
    font-size: 30px;
  }
}

body {
  background-color: $background;
}
.mainContainer {
  margin-top: 5%;
  margin-left: 5%;
  .headerTitle {
    h1 {
      font-size: 70px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
    }
    .titleBorder {
      border-bottom: 4px solid #ffffff;
      width: 60%;
    }
    .aboutMe {
      width: 60%;
      text-align: justify;
      .titleBorder {
        border-bottom: 4px solid #ffffff;
        width: 100%;
      }
    }
  }
  .project {
    .toolIcon {
      font-size: 50px;
      margin: 0 5px;
    }
    img {
      border: 2px solid #ffffff;
      width: 90%;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      width: 90%;
    }
  }
}

//Responsive design

// Laptops
@media only screen and (max-width: 1441px) {
  .mainContainer {
    margin-top: 7%;
    margin-left: 7%;
  }
  .mainContainer .headerTitle h1 {
    font-size: 40px;
  }
  .mainContainer .headerTitle .titleBorder {
    width: 50%;
  }
  .mainContainer .aboutMe {
    width: 50% !important;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1025px) {
  .mainContainer {
    margin-top: 10%;
    margin-left: 10%;
  }
  .buttons {
    margin-top: 3%;
  }
  .mainContainer .headerTitle .titleBorder {
    width: 70%;
  }
  .mainContainer .aboutMe {
    width: 70% !important;
  }
}

//Tablet
@media only screen and (max-width: 769px) {
  .topNav,
  .sideNav {
    a {
      padding: 9px;
    }
  }
  .topNav {
    margin-left: 62px;
  }
  .mainContainer {
    margin-top: 10%;
    margin-left: 10%;
  }
  .mainContainer .headerTitle h1 {
    font-size: 40px;
  }
  .mainContainer .headerTitle .titleBorder {
    width: 95%;
  }
  .buttonStyle {
    padding: 0px 28px;
  }
  .mainContainer .project p {
    font-size: 14px;
  }
  .mainContainer .project .toolIcon {
    font-size: 29px;
  }
  .mainContainer .aboutMe {
    width: 95% !important;
  }
}

//Mobile
@media only screen and (max-width: 426px) {
  .topNav,
  .sideNav {
    a {
      padding: 4px;
      font-size: 18px;
    }
  }
  .sideNav img {
    height: 27px;
  }
  .topNav {
    margin-left: 48px;
  }
  .mainContainer {
    margin-top: 15%;
    margin-left: 15%;
  }
  .mainContainer .headerTitle h1 {
    font-size: 20px;
  }
  .buttonStyle {
    font-size: 14px;
    margin: 2% 0;
    padding: 1% 16px;
    width: 140px;
  }
  .mainContainer .project img {
    width: 84%;
  }
  .mainContainer .project p {
    width: 84%;
  }
  .mainContainer .aboutMe {
    font-size: 14px;
    text-align: left !important;
  }
}
@media only screen and (max-width: 376px) {
  .topNav,
  .sideNav {
    a {
      padding: 5px;
      font-size: 12px;
    }
  }
  .topNav {
    margin-left: 37px;
  }
  .sideNav img {
    height: 18px;
  }
  .sideNav .fab {
    font-size: 24px;
  }
  .buttonStyle {
    padding: 1% 10px;
  }
}
